[submodule "BuildScripts"]
	path = BuildScripts
	url = https://github.com/geeklearningio/gl-vsts-tasks-build-scripts
[submodule "Common/Node/shared"]
	path = Common/Node/shared
	url = https://github.com/geeklearningio/gl-vsts-tasks-common-node
